<a href="https://colab.research.google.com/github/renatamontanhana/Pandas_diferentes_formatos_de_arquivos/blob/main/pandas_trabalhando_diferentes_formatos_de_arquivos_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
dados_imdb = pd.read_xml('/content/imdb_top_1000.xml')

In [5]:
dados_imdb.head(3)

,index,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"

In [6]:
dados_imdb.to_xml('filmes_imdb.xml')

In [7]:
pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_popula%C3%A7%C3%A3o')[0]

,Unnamed: 0,Posição,País (ou território dependente),Estimativa da ONU,Data,Estimativa Oficial
0,NaN,1,Índia,1 429 921 746,2023,Estimativa oficial
1,NaN,2,China,1 426 391 281,2023,Censo oficial
2,NaN,3,Estados Unidos,339 987 103,2023,Censo oficial
3,NaN,4,Indonésia,277 184 719,2023,Estimativa oficial
4,NaN,5,Paquistão,240 215 932,2023,Estimativa oficial
...,...,...,...,...,...,...
245,NaN,–,Ilha de Ascensão (Reino Unido),806,2021,Estimativa oficial[10]
246,NaN,195,Vaticano,801,2020,Estimativa oficial
247,NaN,–,Ilhas Cocos (Keeling) (Austrália),573,2020,Estimativa oficial
248,NaN,–,Tristão da Cunha (Reino Unido),241,2022,Estimativa oficial[11]
249,NaN,–,Ilhas Pitcairn (Reino Unido),40,2021,Estimativa oficial